
<center>
<br/>
<br/>
<fieldset style="width: 231px;">
	<%= f.text_field :hostname %><br/>
	<%= f.text_field :port %><br/>
	<%= f.text_field :username %><br/>
	<%= f.password_field :password %><br/>
</fieldset>
</center>
