<span style="text-align: left; position: absolute; left: 0px;">
<%= link_to_remote(image_tag("tab_resellers#{(true) ? '_active' : ''}.png"), :url => {:controller => 'reseller', :action => 'index'}) %>
</span>