<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>RESTORE - <%=_('The Reason Backup was Invented')%></title>
	<link rel="shortcut icon" href="<%=image_path('favicon.ico')%>" type="image/x-icon" />
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag 'restore' %>
	<%= stylesheet_link_tag 'css_form' %>
	<%= stylesheet_link_tag 'login' %>	
</head>
<body>
	<%= yield %>
</body>
</html>