<%= render :partial => partial_path(item.partial_name), :locals => {:item => item}%>


<% if item.expanded %>


	<% item.children_values.each do |c|%>
		<%= render :partial => partial_path('browse_item'), :locals => {:item => c}%>
	<% end %>
<% end %>	
