<tr id="<%=item.full_id%>">
	<td style="overflow: hidden; white-space: nowrap; cursor: pointer;">
		<div style="float: left; width: <%=(item.nesting*10)%>px;">&nbsp;</div>
		<div style="float: left; width: 15px;">&nbsp;</div>
		<div style="float: left;">
		<%= image_tag('group.png')%>
		<%= link_to_remote item.name, :url => {:controller => '/reseller/group', :action => 'edit', :client_id => item.client.id, :id => item.group.id}%>
		</div>
	</td>
</tr>
